apiVersion: v1
baseDomain: {{ .BaseDomain }}
metadata:
  name: {{ .ClusterName }}
compute:
  - hyperthreading: Enabled
    name: worker
    replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
platform:
    none: {}

fips: false
pullSecret: '{{ .PullSecret }}'
sshKey: "{{ .PubSshKey }}"

{{ if .OfflineMirror }}
imageContentSources:
  - mirrors:
      - {{ .OfflineMirror }}
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
      - {{ .OfflineMirror }}
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{{ end }}

{{ if .AddTrustBundle }}
additionalTrustBundle: |
{{ .AddTrustBundle | indent 3 }}
{{ end }}